[submodule "django-dynamic-formset"]
	path = django-dynamic-formset
	url = git@github.com:1stvamp/django-dynamic-formset.git
[submodule "jquery_jeditable"]
	path = jquery_jeditable
	url = git@github.com:tuupola/jquery_jeditable.git
